/* Stefan Schultz, MDDN Project 2, April 2016 */

/* COLOR PALETTE
    Whether Blue = #36B3FF
    Body Text Gray = #233343
    Mid Gray Accent = #5E8293
    Light Blue Accent = #F4FCFF
    Light Body Gray = #D6DEDE
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

#body {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
}

#nowCloseArrow {
    display: none;
}

#nowOpenArrow {
    display: none;
}

#header {
    position: fixed;
    height: 45px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #36B3FF;
    z-index: 1;
}

#mobileWelcome {
    display: none;
}

#googleAuthorize {
    position: fixed;
    overflow-y: scroll;
    background-color: #36B3FF;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

#authorize-button {
    margin-left: 25%;
    background-color: #F4FCFF;
    padding: 0.7em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    display: inline;
    color: #658294;
    border: solid #658294 2pt;
    transition: 0.4s;
}

#authorize-button:hover {
    background-color: #658294;
    border: solid #F4FCFF 2pt;
    color: white;
}

#authContinueButton {
    margin-left: 2%;
    background-color: #F4FCFF;
    padding: 0.7em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    display: inline;
    color: #658294;
    border: solid #658294 2pt;
    transition: 0.4s;
}

#authContinueButton:hover {
    background-color: #658294;
    border: solid #F4FCFF 2pt;
    color: white;
}

#googleAuthorize > h3 {
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    color: white;
    font-weight: 300;
    font-size: 24pt;
}

#googleAuthorize > p {
    margin-left: 25%;
    margin-top: -2%;
    padding-bottom: 1em;
    width: 50%;
    color: white;
    font-weight: 400;
    font-size: 12pt;
}

#authPadding {
    height: 200px;
}

#headerLogo {
    position: absolute;
    height: 55px;
    top: -3px;
}

.headerCaption {
    position: absolute;
    left: 0;
    right: 0;
    top: -12px;
    
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16pt;
}

.sectionTitle {
    padding-left: 20px;
    margin-top: 20px;
    color: #5E8293;
    letter-spacing: 1pt;
    font-weight: 700;
}

#yourCalendarContainer > .sectionTitle {
    position: absolute;
    margin-top: 140px;
}

#rightNowContainer {
    position: relative;
    top: 45px;
    height: 220px;
    width: 70%;
    border-bottom: solid 1px #36B3FF;
    transition: 0.3s;
}

#rightNowCollapsed {
    display: none;
}

#nowLocationIcon {
    position: absolute;
    height: 32px;
    margin-left: 30px;
    margin-top: 135px;
}

.location {
    position: absolute;
    margin-left: 65px;
    margin-top: 140px;
    color: #36B3FF;
    font-weight: 600;
}

.dataProvider {
    position: absolute;
    margin-left: 300px;
    margin-top: 142px;
    color: #D6DEDE;
}

.dataProvider > a {
    color: #D6DEDE;
}

#nowWeatherIcon {
    position: absolute;
    width: 100px;
    margin-top: 0px;
    margin-left: 20px;
    
}

.nowTemp {
    position: absolute;
    color: #36B3ff;
    text-align: left;
    font-weight: 100;
    font-size: 80pt;
    margin-top: -20px;
    margin-left: 150px;
}

.currentForecast {
    position: absolute;
    width: 200px;
    margin-left: 500px;
    margin-top: 35px;
    font-size: 10pt;
    font-weight: 400;
    color: #233343;
}

#windIcon {
    position: absolute;
    width: 50px;
    margin-left: 320px;
    margin-top: 10px;
}

.windForecast {
    position: absolute;
    width: 200px;
    margin-left: 320px;
    margin-top: 60px;
    font-size: 16pt;
    font-weight: 600;
    color: #36B3FF;
}

#yourCalendarContainer {
    position: relative;
    margin-top: -19.8em;
    left: 70%;
    right: 100%;
    height: 40em;
    border-left: solid 1px #36B3FF;
    border-bottom: solid 1px #36B3FF;
    overflow-y: scroll;
}

#yourCalendarContainer > .sectionTitle {
    margin-top: 120px;
}

#output {
    margin-top: 180px;
    margin-left: 20px;
}

#calCloseArrow {
    display: none;
}

pre {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    color: #233343;
    line-height: 40px;
}

#weatherWarningsContainer {
    position: relative;
    top: 70%;
    left: 70%;
    right: 0;
    bottom: 0;
    border-left: solid 1px #36B3FF;
}

#weatherMapsContainer {
    position: relative;
    left: 0;
    height: 400px;
    margin-top: -300px;
    right: 30%;
    bottom: 0;
    padding-bottom: 200px;
}

.layerChoice {
    color: #233343;
}

select {
    position: absolute;
    margin: 0;
    margin-left: 1.5%;
    border-radius: 0;
    padding: 5px;
    padding-left: 9px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: white;
    background-color: #36B3FF;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#mapImage {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    width: 600px;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #36B3FF;
    height: 140px;
}

#footerLogo {
    position: absolute;
    width: 15em;
    margin-top: 1.3em;
    margin-left: 2em;
}

.footerText {
    position: absolute;
    width: 35%;
    margin-left: 22em;
    margin-top: 2.9em;
    color: #F4FCFF;
}

#footerLinks {
    margin-top: 56px;
}

#privacyLink {
    display: inline;
    padding: 0.25em;
    margin-left: 65%; 
    text-decoration: underline;
    color: white;
}

#termsLink {
    display: inline;
    padding: 0.25em;
    padding-left: 1em;
    text-decoration: underline;
    color: white;
}

#supportLink {
    display: inline;
    padding: 0.25em;
    padding-left: 1em;
    text-decoration: underline;
    color: white;
}

#terms {
    display: none;
    transition: 0.2s;
}

#privacy {
    display: none;
    transition: 0.2s;
}

#overlayDim {
    background-color: #333;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.2s;
}

.legalWindow {
    position: fixed;
    overflow-y: auto;
    background-color: white;
    width: 600px;
    height: 400px;
    left: calc(50% - 300px);
    top: 150px;
    z-index: 3;
    box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.75);
    transition: 0.2s;
}

.legalHead {
    position: fixed;
    width: 600px;
    height: 60px;
    left: calc(50% - 300px);
    background-color: #36B3FF;
    z-index: 1;
}

.legalLogo {
    position: absolute;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.legalHeading {
    position: relative;
    text-align: center;
    top: -14px;
    font-weight: 300;
    font-size: 20pt;
    color: white;
}

.legalClose {
    position: relative;
    background-image: url(/MDDN352-Project2/assets/images/closeIcon.png);
    width: 48px;
    height: 48px;
    top: -81px;
    left: 545px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.legalTextContainer {
    position: relative;
    width: 90%;
    color: #233343;
    left: calc(50% - 45%);
    top: 60px;
    overflow-y: scroll;
}

/* MOBILE CSS */

@media all and (max-width: 1000px) {

    .headerCaption {
        display: none;
        text-align: center;
        margin-top: 80px;
        color: #36B3FF;
        font-size: 13pt;
    }
    
    #mobileWelcome {
        display: block;
        position: relative;
        margin-top: 60px;
        width: 90%;
        left: 50%;
        margin-left: -45%;;
    }
    
    .mobileWelcomeCaption {
        color: #36B3FF;
        text-align: center;
        font-weight: 400;
    }
    
    #headerLogo {
        left: -80px;
        margin-left: 50%;
    }
    
    #rightNowContainer {
        position: relative;
        margin-top: -40px;
        left: 0;
        height: 420px;
        width: 100%;
        border-top: solid 1px #36B3FF;
        overflow-y: hidden;
    }
    
    #rightNowCollapsed {
        position: relative;
        margin-top: 70px;
        left: 0;
        width: 100%;
        border-top: solid 1px #36B3FF;
    }
    
    #rightNowContainer > .sectionTitle {
        margin-top: 10px;
        margin-left: 0;
        left: 3%;
    }
    
    #nowCloseArrow {
        display: block;
        position: absolute;
        width: 25px;
        margin-top: -45px;
        right: 3%;
    }
    
    #nowSectionHeader {
        width: 100%;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    #nowOpenArrow {
        display: none;
        position: absolute;
        width: 25px;
        margin-top: -45px;
        right: 3%;
    }
    
    #nowWeatherIcon {
        margin-left: 0;
        right: 60%;
    }
    
    .nowTemp {
        margin-left: 0;
        left: 45%;
    }
    
    #yourCalendarContainer {
        position: relative;
        left: 0;
        width: 100%;
        top: 340px;
        height: 900px;
        border-bottom: solid 1px #36B3FF;
    }
    
    #yourCalendarContainer > .sectionTitle {
        margin-top: 0px;
    }
    
    #calCloseArrow {
        width: 25px;
        position: absolute;
        margin-top: -5px;
        right: 3%;
    }
    
    #output {
        margin-top: 40px;
        top: 50px;
    }
    
    #windIcon {
        margin-left: 0;
        right: 60%;
        width: 70px;
        margin-top: 120px;
    }
    
    .windForecast {
        margin-left: 0;
        left: 45%;
        margin-top: 140px;
    }
    
    #nowLocationIcon {
        margin-top: 280px;
        margin-left: 0;
        left: 5%;
    }
    
    .currentForecast {
        margin-left: 50%;
        left: -20%;
        margin-top: 220px;
    }
    
    .location {
        margin-top: 285px;
        margin-left: 0;
        left: calc(5% + 35px);
    }
    
    .dataProvider {
        margin-top: 328px;
        margin-left: 0;
        left: 5%;
    }
    
    pre {
        position: relative;
        width: 100%;
        
    }
    
    #weatherWarningsContainer {
        height: 100px;
        left: 0;
        right: 0;
        border-bottom: solid 1px #36B3FF;
        border-top: solid 1px #36B3FF;
    }
    
    #weatherMapsContainer {
        margin-top: 0;
        height: 500px;
        padding-bottom: 200px;
    }
    
    #mapImage {
        position: absolute;
        margin-left: 50%;
        margin-top: 40px;
        left: -45%;
        width: 90%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/MDDN352-Project2/assets/images/maps/cloudMap.png);
    }
    
    select {
        position: absolute;
        margin: 0;
        margin-left: 50%;
        left: -45%;
        width: 90%;
        border-radius: 0;
        padding: 5px;
        padding-left: 9px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 10pt;
        font-weight: 700;
        color: white;
        background-color: #36B3FF;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }
    
    #footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #36B3FF;
        height: 300px;
    }

    #footerLogo {
        width: 200px;
        margin-top: 10px;
        margin-left: 50%;
        left: -100px;
    }

    .footerText {
        width: 80%;
        left: -40%;
        right: 0;
        margin-left: 50%;
        margin-top: 110px;
    }

    #footerLinks {
        margin-top: 190px;
    }

    #privacyLink {
        display: block;
        padding: 0.25em;
        padding-left: 0;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #termsLink {
        display: block;
        padding: 0.25em;
        padding-left: 0;
        text-align: center;
    }

    #supportLink {
        display: block;
        padding: 0.25em;
        padding-left: 0;
        text-align: center;
    }
    
    .legalWindow {
        position: fixed;
        overflow-y: auto;
        background-color: white;
        width: 80%;
        height: 600px;
        left: calc(50% - 40%);
        top: 10px;
        z-index: 3;
        box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.75);
        transition: 0.2s;
    }

    .legalHead {
        position: fixed;
        width: 80%;
        height: 60px;
        left: calc(50% - 40%);
        background-color: #36B3FF;
        z-index: 1;
    }

    .legalLogo {
        position: absolute;
        width: 50px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .legalHeading {
        position: relative;
        text-align: center;
        top: -14px;
        font-weight: 300;
        font-size: 20pt;
        color: white;
    }

    .legalClose {
        position: relative;
        background-image: url(/MDDN352-Project2/assets/images/closeIcon.png);
        width: 48px;
        height: 48px;
        top: -81px;
        left: 87%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .legalTextContainer {
        position: relative;
        width: 90%;
        color: #233343;
        left: calc(50% - 45%);
        top: 60px;
        overflow-y: scroll;
    }
    
    #authorize-button {
        margin-left: 20%;
        width: 60%;
        text-align: center;
        background-color: #F4FCFF;
        padding: 0.7em;
        padding-top: 0.4em;
        padding-bottom: 0.5em;
        display: block;
        color: #658294;
        border: solid #658294 2pt;
        transition: 0.4s;
    }

    #authContinueButton {
        margin-left: 20%;
        margin-top: 20px;
        width: 60%;
        text-align: center;
        background-color: #F4FCFF;
        padding: 0.7em;
        padding-top: 0.4em;
        padding-bottom: 0.5em;
        display: block;
        color: #658294;
        border: solid #658294 2pt;
        transition: 0.4s;
    }
}
